
* {
	box-sizing: border-box;
}
body { 
	background-color: #FCEBB6;
	color: #221811; 
	font-family: Tahoma, Arial, sans-serif;
	background-image: url(images/backgroundphoto.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
header {
	color: #FCEBB6;
	background-color: #331a00;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url(images/Logo.png.png);
	background-repeat: no-repeat;
	background-size: 20%;
	background-position: left;
}
header a:link,
header a:visited {
	text-decoration: none;
	color: #231814;
}
header a:hover {
	color: #FEF6C2;
}
nav {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #4d2800;
	list-style-type: none;
}
nav ul {
	list-style-type: none;
	text-align: center;
}
nav a {
	text-decoration: none;
	list-style-type: none;
}
nav a:link {
	color: #FEF6C2;
	text-decoration: none;
}
nav a:visited {
	color: #D2B48C;
	text-decoration: none;
}
nav a:hover {
	color: #CC9933;
}
main {
	padding-bottom: 2em;
	background-color: #FCEBB6;
	overflow: auto;
}
main div {
	padding-left: 0.5em;
}
main p,
main h2,
main h3 {
	text-align: center;
	list-style-type: none;
	padding-left: 2em;
	padding-right: 2em;
}
section h3 {
	text-align: center;
}
h5 {
	text-align: center;
	margin-top: 2.35em;
}
img {
	padding-left: 10px;
	padding-right: 10px;
}
h1 {
	font-size: 3em;
	font-family: "Agency FB", sans-serif;
}
h2 {
	color: #331a00;
}
h4 {
	background-color: #D2B48C;
	font-size: 1.2em;
	padding-left: .5em;
	padding-bottom: 0;
	text-transform: uppercase;
	border-bottom: 1px solid #D2B48C;
	clear: both;
}
footer {
	color: #FCEBB6;
	background-color: #4d2800;
	font-size: .60em;
	text-align: center;
	font-style: italic;
	font-family: "Agency FB", sans-serif;
	padding: 0.5em;
	border-top: 3px solid #331a00;
	position: bottom;
}
footer a {
	text-decoration: none;
	color: #FCEBB6;
}
footer a:hover {
	color: #CC9933;
}
button {
	margin-bottom: 1.25em;
	margin-top: .5em;
	cursor: pointer;
	background-color: #4d2800;
	color: #FCEBB6;
	font-size: 20px;
	text-align: center;
}
form {	
	font-family: Arial, sans-serif;
	padding: 10px;
	margin: auto;
}		
label {
	float: left;
	clear: left;
	display: block;
	width: 100px;
	padding-right: 10px;
	margin-top: 10px;
	text-align: right;
}
input {
	display: block;
	margin-top: 10px;
	text-align: center;
}		
textarea {
	display: block;
	margin-top: 10px;
}
input[type="submit"] {
	position: center;
	margin-bottom: 1.25em;
	cursor: pointer;
	background-color: #4d2800;
	color: #FCEBB6;
	font-size: 20px;
	text-align: center;
}
input[type="reset"] {
	position: center;
	margin-bottom: 1.25em;
	cursor: pointer;
	background-color: #4d2800;
	color: #FCEBB6;
	font-size: 20px;
	text-align: center;
}
caption {
	text-align: center;
	margin-left: 12px;
	margin-bottom: 12px;
	margin-top: 20px;
	font-weight: bold;
}
table {
	background-color: #4d2800;
	text-align: center;
	float: left;
	margin-left: 12px;
	margin-right: 12px;
}
td,
th {
	padding: .7em;
}
tr:nth-of-type(odd) {
	background-color: #FCEBB6;
}
tr:nth-of-type(even){
	background-color: #FCEBB6;
}
#wrapper {
	width: 80%;
	min-width: 450px;
	max-width: 1280px;
	background-color: #FEFAEB;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 3px 3px 3px #676767;
}
#cookie {
	height: 350px;
	background-image: url(images/cookie.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#drink {
	height: 350px;
	background-image: url(images/drinks.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#contact {
	height: 250px;
	background-image: url(images/contact.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#media {
	background-image: url(images/socialmedia.png);
	background-size: 20%;
	position: right;
}
.half {
	float: left;
	width: 50%;
}
.halfbutton {
	float: left;
	margin-left: 20px;
}
.halfbuttonleft{
	float: left;
	margin-right: 20px;
}
.clearfix {
	clear: both;
}
.specialmargin {
	text-align: center;
	list-style-type: none;
	margin-left: 12px;
	margin-bottom: 12px;
	margin-top: 2px;
}
.contactbutton {
	clear: both;
	margin: 0;
	text-align: center;
}
@media (min-width: 600px) {
	nav {
		list-style-type: none;
	}
	nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		list-style-type: none;
	}
	nav li {
		border-bottom: none;
		list-style-type: none;
	}
	main h3 {
		text-align: center;
	}
}
@media (min-width: 1024px) {
	
}